@use "variables";
.app-header {
  .dropdown-toggle {
    position: relative;
  }
}
@keyframes slideIn {
  0% {
    transform: translateY(1rem);
    opacity: 0;
  }
  100% {
    transform: translateY(0rem);
    opacity: 1;
  }
  0% {
    transform: translateY(1rem);
    opacity: 0;
  }
}

@-webkit-keyframes slideIn {
  0% {
    -webkit-transform: transform;
    -webkit-opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    -webkit-opacity: 1;
  }
  0% {
    -webkit-transform: translateY(1rem);
    -webkit-opacity: 0;
  }
}
.dropdown-menu {
  border-color: variables.$default-border;
  box-shadow: variables.$box-shadow;
  font-size: 0.875rem;
  color: variables.$default-text-color;
  background-color: variables.$custom-white;
  padding: 0;
  z-index: 10;
  border-radius: variables.$default-radius;
  overflow: hidden;
  animation-duration: 0.2s;
  -webkit-animation-duration: 0.2s;
  animation-fill-mode: both;
  -webkit-animation-fill-mode: both;
  -webkit-animation-name: slideIn;
  animation-name: slideIn;
}
.dropdown-divider {
  border-color: variables.$default-border;
}

.dropdown-item-text {
  color: variables.$default-text-color;
}
.dropdown-header {
  color: variables.$default-text-color;
}
.dropdown-item.mud-list-item {
  color: variables.$default-text-color;
  white-space: unset;
  padding: 0.5rem 0.9375rem;
  font-size: 0.85rem;
  font-weight: 400;

  &:not(.active) {
    &:hover,
    &:focus,
    &:active {
      color: variables.$primary;
      background-color: variables.$primary-005;
    }
  }
  &.active {
    background-color: variables.$primary-005 !important;
    color: variables.$primary !important;
  }
}
.dropdown-toggle::after {
  display: inline-block;
  margin-inline-start: 0.25rem;
  vertical-align: 0;
  content: "\f282";
  font-family: bootstrap-icons !important;
  border: 0;
  font-size: 0.6rem;
  font-weight: 400;
}
.dropup .dropdown-toggle::after {
  display: inline-block;
  margin-inline-start: 0.25rem;
  vertical-align: 0;
  content: "\F286";
  font-family: bootstrap-icons !important;
  border: 0;
  font-size: 0.6rem;
  font-weight: 400;
}
.dropend .dropdown-toggle::after {
  display: inline-block;
  margin-inline-start: 0.25rem;
  vertical-align: 0;
  content: "\F285";
  font-family: bootstrap-icons !important;
  border: 0;
  font-size: 0.6rem;
  font-weight: 400;
}
.dropstart .dropdown-toggle::before {
  display: inline-block;
  margin-inline-start: 0.25rem;
  vertical-align: 0;
  content: "\F284";
  font-family: bootstrap-icons !important;
  border: 0;
  font-size: 0.6rem;
  font-weight: 400;
}
.btn.dropdown-toggle-split {
  opacity: 0.85;
}
.dropdown-menu-dark {
  background-color: variables.$dark;
  border-color: rgba(255, 255, 255, 0.1);
  li a {
    color: variables.$custom-white;
  }
}
.btn-list a.dropdown-item {
  margin-block-end: 0;
}
/* Start:: Custom Dropdown Menu */
.dropdown-menu {
  @mixin dropdown-menu-color($color) {
    background-color: $color;
    li a {
      color: rgba(255, 255, 255, 0.9);
    }
    .dropdown-item {
      &:hover,
      &:focus,
      &:active,
      &.active {
        color: variables.$white;
      }
    }
  }
  &.dropdown-menu-primary {
    @include dropdown-menu-color(variables.$primary);
  }
  &.dropdown-menu-secondary {
    @include dropdown-menu-color(variables.$secondary);
  }
  &.dropdown-menu-warning {
    @include dropdown-menu-color(variables.$warning);
  }
  &.dropdown-menu-info {
    @include dropdown-menu-color(variables.$info);
  }
  &.dropdown-menu-success {
    @include dropdown-menu-color(variables.$success);
  }
  &.dropdown-menu-danger {
    @include dropdown-menu-color(variables.$danger);
  }
}
.dropdown-menu {
  &.dropmenu-item-primary {
    .dropdown-item {
      &:hover,
      &:focus,
      &:active,
      &.active {
        background-color: variables.$primary-01 !important;
        color: variables.$primary;
      }
    }
  }
  &.dropmenu-item-secondary {
    .dropdown-item {
      &:hover,
      &:focus,
      &:active,
      &.active {
        background-color: rgba(var(--secondary-rgb), 0.1) !important;
        color: variables.$secondary;
      }
    }
  }
  &.dropmenu-item-warning {
    .dropdown-item {
      &:hover,
      &:focus,
      &:active,
      &.active {
        background-color: rgba(var(--warning-rgb), 0.1) !important;
        color: variables.$warning;
      }
    }
  }
  &.dropmenu-item-info {
    .dropdown-item {
      &:hover,
      &:focus,
      &:active,
      &.active {
        background-color: rgba(var(--info-rgb), 0.1) !important;
        color: variables.$info;
      }
    }
  }
  &.dropmenu-item-success {
    .dropdown-item {
      &:hover,
      &:focus,
      &:active,
      &.active {
        background-color: rgba(var(--success-rgb), 0.1) !important;
        color: variables.$success;
      }
    }
  }
  &.dropmenu-item-danger {
    .dropdown-item {
      &:hover,
      &:focus,
      &:active,
      &.active {
        background-color: rgba(var(--danger-rgb), 0.1) !important;
        color: variables.$danger;
      }
    }
  }
}
.dropdown-menu {
  @mixin dropmenu-light-color($color) {
    backdrop-filter: blur(2rem);
    .dropdown-item {
      &:hover,
      &:focus,
      &:active,
      &.active {
        color: variables.$white;
        background-color: $color !important;
      }
    }
  }
  &.dropmenu-light-primary {
    background-color: variables.$primary-01;
    @include dropmenu-light-color(variables.$primary);
  }
  &.dropmenu-light-secondary {
    background-color: rgba(var(--secondary-rgb), 0.1);
    @include dropmenu-light-color(variables.$secondary);
  }
  &.dropmenu-light-info {
    background-color: rgba(var(--info-rgb), 0.1);
    @include dropmenu-light-color(variables.$info);
  }
  &.dropmenu-light-warning {
    background-color: rgba(var(--warning-rgb), 0.1);
    @include dropmenu-light-color(variables.$warning);
  }
  &.dropmenu-light-success {
    background-color: rgba(var(--success-rgb), 0.1);
    @include dropmenu-light-color(variables.$success);
  }
  &.dropmenu-light-danger {
    background-color: rgba(var(--danger-rgb), 0.1);
    @include dropmenu-light-color(variables.$danger);
  }
}
/* End:: Custom Dropdown Menu */

/* Start:: Dropdown divider */
.dropdown-divider {
  margin: 0;
}
/* End:: Dropdown divider */


.dropdown-item.disabled,
.dropdown-item:disabled {
  color: variables.$default-text-color;
  opacity: 0.5;
}

.mud-popover.mud-popover-open {
  box-shadow: 0 1rem 1.125rem rgba(169, 169, 169, .15) !important;
  border:1px solid variables.$default-border !important;
  border-radius: 0.5rem;

  .mud-list-item {
    &:hover {
      background-color: variables.$primary-01 !important;
      color:variables.$primary !important;
    }

    .mud-list-item-text {
      margin: 0px !important;
    }
  }
}

.pill-dropdown {
  .mud-button {
    border-radius: 50rem !important;
  }
}

.split-button {
  .mud-menu {
    .mud-button {
      padding-inline: 12px !important;
      opacity: 0.85;
      border-inline-start: 0px !important;
      .mud-button-icon-end{
        margin-inline-start: 0px !important;
        svg{
          line-height: 1;
        }
      }
    }
  }

}

.dropdown-menu-dark {
  .mud-button-filled.mud-button-filled-dark {
    background-color: variables.$custom-black !important;
    .mud-button-label{
      color: variables.$custom-white;
    }
  }
}

.dropdown-menu-dark {
  .mud-list.mud-menu-list{
    background-color: variables.$custom-black !important;
    border-radius: 0.35rem !important;
    border-color: variables.$custom-black;
    .mud-menu-item{
      .mud-typography,.mud-menu-item-text{
        color:variables.$custom-white !important;
      }
    }
  }
}

.primary-menu{

  .mud-list.mud-menu-list{
    background-color: variables.$primary !important;
    border-radius: 0.35rem !important;
    border-color: variables.$primary;
    .mud-menu-item{
      .mud-typography,.mud-menu-item-text{
        color:#fff !important;
      }
    }
  }

}

.secondary-menu{
  .mud-list.mud-menu-list{
    background-color: variables.$secondary !important;
    border-radius: 0.35rem !important;
    border-color: variables.$secondary;
    .mud-menu-item{
      .mud-typography,.mud-menu-item-text{
        color:#fff !important;
      }
    }
  }
}

.warning-menu-item{
  .mud-list.mud-menu-list{
  .mud-menu-item{
    &.active,&:hover{
      background-color: rgba(var(--warning-rgb),0.1) !important;
      .mud-typography,.mud-menu-item-text{
        color:variables.$warning !important;
      }
    }
  }
}
}

.info-menu-item{
  .mud-list.mud-menu-list{
  .mud-menu-item{
    &.active,&:hover{
      background-color: rgba(var(--info-rgb),0.1) !important;
      .mud-typography,.mud-menu-item-text{
        color:variables.$info !important;
      }
    }
  }
}
}

.light-success-menu-item{
  .mud-list.mud-menu-list{
    background-color: rgba(var(--success-rgb),0.1);
    .mud-menu-item{
      &.active,&:hover{
        background-color: variables.$success !important;
        .mud-typography,.mud-menu-item-text{
          color: #fff !important;
        }
      }
    }
  }
}

.light-danger-menu-item{
  .mud-list.mud-menu-list{
    background-color: rgba(var(--danger-rgb),0.1);
    .mud-menu-item{
      &.active,&:hover{
        background-color: variables.$danger !important;
        .mud-typography,.mud-menu-item-text{
          color: #fff !important;
        }
      }
    }
  }
}
.split-button{
  .mud-button-label .mud-button-icon-start {
    margin-inline-end: 0px !important;
  }
}

.split-button .mud-menu .mud-icon-button {
  padding-inline: 12px !important;
  opacity: .85;
  border-inline-start: 0 !important;
}

.primary-menu .mud-list .mud-list-item .mud-typography {
  color: #fff !important;
}

.mud-menu.btn-sm.btn-icon{
  .mud-icon-button{
    width: 1.75rem;
    height: 1.75rem;
    font-size: 0.8rem;
    padding: 0.1875rem;
  }
}

@media (hover: hover) and (pointer: fine) {
  .mud-button-filled:hover {
    box-shadow: none !important;
  }
}

.mud-menu.card-header-dropdown{
   .mud-icon-size-medium{
    font-size: 15px !important;
   }
}  

.mud-list-item-clickable:focus:not(.mud-selected-item), .mud-list-item-clickable:active {
  background-color: transparent !important;
}

.mud-list-item-clickable:hover {
  background-color: transparent !important;
}

.mud-menu{
  .mud-button-filled-size-small{
    padding: 0.26rem 0.5rem;
    border-radius: 0.25rem;
    font-size: 0.75rem;
  }
}

.dropdown-menu{
  margin-block-start: 2px;
  .mud-menu-list {
    width: 10rem;
    padding: 0px;
    .mud-menu-item{
      white-space: unset;
      padding: 0.5rem 0.9375rem;
      font-size: 0.85rem;
      font-weight: 400;
      &:hover{
        background-color: rgba(var(--primary-rgb), 0.1) !important;
        .mud-menu-item-text{
          color: rgba(var(--primary-rgb), 1);
        }
        .mud-menu-item-icon{
          color: rgba(var(--primary-rgb), 1) !important;
        }
      }
    }
    .mud-menu-item-text{
      margin: 0px;
    }
  } 
}

.mud-menu.btn-primary-light{
  .mud-icon-button{
    background-color: var(--primary01) !important;
    color: var(--primary-color) !important;
  }
  .mud-button-label{
    color: var(--primary-color) !important;
  }
  .mud-button-filled.mud-button-filled-default {
    background-color: var(--primary01) !important;
  }
}

.mud-button-icon-size-medium>*:first-child {
  font-size: 14px;
}

.mud-progress-circular.mud-progress-small {
  height: 15px;
  width: 15px;
}

[data-theme-mode="dark"]{
  .dropdown-menu{
    box-shadow: none !important;
  }
}



.split-button-light {
  .mud-button {
    background-color: rgb(var(--light-rgb)) !important;

    .mud-button-label {
      color: var(--default-text-color) !important;
    }
  }

  .mud-icon-button {
    background-color: rgb(var(--light-rgb)) !important;

    .mud-button-label {
      svg {
        color: var(--default-text-color) !important;
        fill: var(--default-text-color) !important;
      }
    }
  }
}

[data-theme-mode="dark"] {
  .mud-button.mud-button-filled-dark {
    &:hover {
      background-color: #fff;
      color: #000;
    }
  }
}

[dir="rtl"] {
  .mud-button-group-root:not(.mud-button-group-vertical) {
    .mud-button {
      &:first-child {
        border-top-right-radius: 0.35rem !important;
        border-bottom-right-radius: 0.35rem !important;
        border-top-left-radius: 0px !important;
        border-bottom-left-radius: 0px !important;
      }

      &:last-child {
        border-top-left-radius: 0.35rem !important;
        border-bottom-left-radius: 0.35rem !important;
        border-top-right-radius: 0px !important;
        border-bottom-right-radius: 0px !important;
      }
    }

    .mud-menu {
      &:last-child {
        .mud-button {
          border-top-left-radius: 0.35rem !important;
          border-bottom-left-radius: 0.35rem !important;
          border-top-right-radius: 0px !important;
          border-bottom-right-radius: 0px !important;
        }
      }
    }
  }
}

.mud-divider {
  border-color: var(--default-border) !important;
}

.mud-menu {
  .mud-button {
    margin: 0px !important;
  }
}


.mud-button-group-root.mud-button-group-filled-size-large {
  .mud-button.mud-button-text-size-large {
    padding: 0.75rem .75rem !important;
  }

  .mud-icon-button.mud-icon-button-size-large {
    padding: 1.55rem 1.3rem !important;
  }
}

.mud-menu.mud-small-button-dropdown .mud-button-filled-size-small {
  padding: 0.46rem .75rem;
  font-size: .813rem !important;
}

.mud-menu.btn-outline-light{
  .mud-button{
    &:focus{
      background-color: variables.$light !important;
    }
  }
}

// @media (hover: hover) and (pointer: fine) {
//   .mud-menu {
//     .mud-icon-button:focus-within, .mud-icon-button:active {
//       background-color: transparent;
//     }
//     .mud-icon-button:hover {
//       background-color: transparent;
//     }
//   }
// }

[dir="rtl"]{
  .drop-left.split-button.mud-button-group-root.mud-button-group-horizontal{
    .mud-menu{
      .mud-icon-button{
        border-top-right-radius: 0.35rem !important;
        border-bottom-right-radius: 0.35rem !important;
        border-top-left-radius: 0 !important;
        border-bottom-left-radius: 0 !important;
      }
    }
  }
}

