@use "variables";
.list-group {
    border: 1px solid variables.$default-border;
    border-radius: 0.35rem;
    overflow: hidden;
    &.list-group-flush{
        border:0px !important;
    }
    .mud-list-item {
        color: variables.$default-text-color;
        border-bottom: 1px solid variables.$default-border;
        padding: 1rem 1.25rem;
        &:last-child{
            border-bottom: 0px solid variables.$default-border; 
        }
        .mud-list-item-text {
            margin: 0px;
        }
        &.active{
            color: variables.$white;
            background-color: variables.$primary;
            border-color: variables.$primary;
            &:hover{
                color: variables.$white;
                background-color: variables.$primary !important;
                border-color: variables.$primary;  
            }
            &:focus{
                color: variables.$white;
                background-color: variables.$primary !important;
                border-color: variables.$primary;     
            }
        }
        &.mud-list-item-disabled {
            color: variables.$default-text-color !important;
            background-color: variables.$light;
            opacity: 0.5;
        }
    }
    .list-group-item-action {
        &:focus,
        &:hover {
            color: variables.$default-text-color;
            background-color: variables.$list-hover-focus-bg;
        }
    }
    .list-group-item-primary {
        color: variables.$primary;
        background-color: variables.$primary-01 !important;
        &.list-group-item-action {
            &:focus,
            &:hover {
                color: variables.$primary !important;
                background-color: variables.$primary-02 !important;
            }
        }
    }
    .list-group-item-secondary {
        color: variables.$secondary;
        background-color: rgba(var(--secondary-rgb), 0.1) !important;
        &.list-group-item-action {
            &:focus,
            &:hover {
                color: variables.$secondary !important;
                background-color: rgba(var(--secondary-rgb), 0.2) !important;
            }
        }
    }
    .list-group-item-info {
        color: variables.$info;
        background-color: rgba(var(--info-rgb), 0.1) !important;
        &.list-group-item-action {
            &:focus,
            &:hover {
                color: variables.$info !important;
                background-color: rgba(var(--info-rgb), 0.2) !important;
            }
        }
    }
    .list-group-item-warning {
        color: variables.$warning;
        background-color: rgba(var(--warning-rgb), 0.1) !important;
        &.list-group-item-action {
            &:focus,
            &:hover {
                color: variables.$warning !important;
                background-color: rgba(var(--warning-rgb), 0.2) !important;
            }
        }
    }
    .list-group-item-danger {
        color: variables.$danger;
        background-color: rgba(var(--danger-rgb), 0.1) !important;
        &.list-group-item-action {
            &:focus,
            &:hover {
                color: variables.$danger !important;
                background-color: rgba(var(--danger-rgb), 0.2) !important;
            }
        }
    }
    .list-group-item-success {
        color: variables.$success;
        background-color: rgba(var(--success-rgb), 0.1) !important;
        &.list-group-item-action {
            &:focus,
            &:hover {
                color: variables.$success !important;
                background-color: rgba(var(--success-rgb), 0.2) !important;
            }
        }
    }
    .list-group-item-dark {
        color: variables.$dark;
        background-color: rgba(var(--dark-rgb), 0.1) !important;
        &.list-group-item-action {
            &:focus,
            &:hover {
                color: variables.$dark !important;
                background-color: rgba(var(--dark-rgb), 0.2) !important;
            }
        }
    }
    .list-group-item-light {
        color: variables.$default-text-color;
        background-color: rgba(var(--light-rgb), 0.1) !important;
        &.list-group-item-action {
            &:focus,
            &:hover {
                color: variables.$default-text-color !important; 
                background-color: rgba(var(--light-rgb), 0.2) !important;
            }
        }
    }
    .list-item-solid-primary {
        background-color: variables.$primary !important;
        color: variables.$white;
        border-color: variables.$primary;
        &:hover{
            background-color: variables.$primary !important;
            color: variables.$white !important;
            border-color: variables.$primary !important; 
        }
    }
    .list-item-solid-secondary {
        background-color: variables.$secondary !important;
        color: variables.$white !important;
        border-color: variables.$secondary !important;
        &:hover{
            background-color: variables.$secondary !important;
            color: variables.$white;
            border-color: variables.$secondary; 
        }
    }
    .list-item-solid-success {
        background-color: variables.$success !important;
        color: variables.$white;
        border-color: variables.$success;
        &:hover{
            background-color: variables.$success !important;
            color: variables.$white;
            border-color: variables.$success; 
        }
    }
    .list-item-solid-info {
        background-color: variables.$info !important;
        color: variables.$white;
        border-color: variables.$info;
        &:hover{
            background-color: variables.$info !important;
            color: variables.$white;
            border-color: variables.$info; 
        }
    }
    .list-item-solid-warning {
        background-color: variables.$warning !important;
        color: variables.$white;
        border-color: variables.$warning;
        &:hover{
            background-color: variables.$warning !important;
            color: variables.$white;
            border-color: variables.$warning; 
        }
    }
    .list-item-solid-danger {
        background-color: variables.$danger !important;
        color: variables.$white;
        border-color: variables.$danger;
        &:hover{
            background-color: variables.$danger !important;
            color: variables.$white;
            border-color: variables.$danger; 
        }
    }
    .list-item-solid-light {
        background-color: variables.$light;
        color: variables.$default-text-color;
        border-color: variables.$light;
        &:hover{
            background-color: variables.$light !important;
            color: variables.$default-text-color;
            border-color: variables.$light; 
        }
    }
    .list-item-solid-dark {
        background-color: variables.$dark !important;
        color: variables.$custom-white;
        border-color: variables.$dark;
        &:hover{
            background-color: variables.$dark !important;
            color: variables.$custom-white;
            border-color: variables.$dark;
        }
    }
}
.list-group-horizontal {
    flex-direction: row;
}
.list-group-subheaders{
    .mud-list-subheader-gutters {
        padding-left: 2px;
        padding-right: 2px;
    }
    .mud-list-subheader {
        padding-top: 2px;
        padding-bottom: 4px;
    }
}


.mud-ripple-checkbox,.mud-ripple-radio{
    padding: 0px !important;
}

.list-group-numbered {
    counter-reset: list-item; 
}

.list-group-numbered .mud-list-item {
    counter-increment: list-item; 
}

.list-group-numbered .mud-list-item::before {
    content: counter(list-item) ". "; 
}

@media (min-width: 576px) {
    .list-group-horizontal-sm {
        flex-direction: row;
        display: flex;
        .mud-list-item{
            border-inline-end: 1px solid variables.$default-border;
            border-bottom: 0px;
            &:last-child{
                border-inline-end: 0px solid variables.$default-border;
            }
        }
    }
}

@media (min-width: 768px) {
    .list-group-horizontal-md {
        flex-direction: row;
        display: flex;
        .mud-list-item{
            border-inline-end: 1px solid variables.$default-border;
            border-bottom: 0px;
            &:last-child{
                border-inline-end: 0px solid variables.$default-border;
            }
        }
    }
}

@media (min-width: 992px) {
    .list-group-horizontal-lg {
        flex-direction: row;
        display: flex;
        .mud-list-item{
            border-inline-end: 1px solid variables.$default-border;
            border-bottom: 0px;
            &:last-child{
                border-inline-end: 0px solid variables.$default-border;
            }
        }
    }
}

@media (min-width: 1200px) {
    .list-group-horizontal-xl {
        flex-direction: row;
        display: flex;
        .mud-list-item{
            border-inline-end: 1px solid variables.$default-border;
            border-bottom: 0px;
            &:last-child{
                border-inline-end: 0px solid variables.$default-border;
            }
        }
    }
}

@media (min-width: 1400px) {
    .list-group-horizontal-xxl {
        flex-direction: row;
        display: flex;
        .mud-list-item{
            border-inline-end: 1px solid variables.$default-border;
            border-bottom: 0px;
            &:last-child{
                border-inline-end: 0px solid variables.$default-border;
            }
        }
    }
}

.mud-list-item.mud-list-item-disabled {
   color: variables.$text-muted !important;
}
.list-inline-item {
    display: inline-block;
}
.list-inline-item:not(:last-child) {
    margin-inline-end: .5rem;
}

.list-group-numbered .mud-list-item {
    padding-inline-start: 2.3rem !important;
  
    &::before {
      inset-block-start: 16px;
      position: absolute;
      inset-inline-start: 19px;
    }
  }
  
.mud-list.dot-list {
    .mud-list-item {
      position: relative;
      padding-inline-start: 1.5rem !important;
  
      &::before {
        position: absolute;
        content: "";
        width: .4rem;
        height: .4rem;
        background-color: var(--text-muted);
        border-radius: 50%;
        inset-inline-start: 6px;
      }
    }
  }
  